/* GENERAL settings*/
body {		
	background-color: #ECECEC;
	display: block;
}

div {
	width: 100%;
	height: auto;
}

.bluewood {
	background-color: #34495E;
	color: #ECF0F1;
}

.ming {
	background-color: #336E7B;
	color: #ECF0F1;
}

.white {
	background-color: white;
	color: black;
}

#menu{
	background-color: #E67E22;
	width: 100%;
	height: 13vh;
	padding: 10px;
	-moz-box-shadow: 0px 5px 5px 0px #656565;
	-webkit-box-shadow: 0px 5px 5px 0px #656565;
	-o-box-shadow: 0px 5px 5px 0px #656565;
	box-shadow: 0px 5px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}

#logo {
	background-image: url("../img/logo.png");
	background-size: contain;
	width: 12vh;
	height: 12vh;
}

#menu_left {
	width: 20%;
	float: left;
}

#menu_right {
	width: 30%;
	float: right;
}

#menu_right ul li{
	display: inline-block;
}

#banniere {
	
	margin-top: 20px;
}

#banniere_img{
	background-image: url("../img/space.jpg");
	background-size: contain;
	background-position: center;
	width: 95vw;
	height: 30vh;
	margin: auto;
}

#p1 {
	margin: auto;
}

#image_group {
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#image_group ul{
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-left: 0px;
}

#image_group ul li{
	display: inline-table;
	width: 17vw;
	height: 100%;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
}

#image_group ul li *{
	margin: auto;
	margin-bottom: 1vh;
	text-align: center;
}

#image_group ul li p{
	text-align: justify;
	text-justify: distribute;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
}


.icon {
	background-image: url("../img/logo.png");
	background-size: contain;
	width: 12vh;
	height: 12vh;
	margin-top: 0px;
}



/* PC device */
* {
	font-size: 3vh;	
}

#map {
	width: 50%;
	float: left;
}

#form {
	width: 50%;
	float: right;
}

input {
	margin-bottom: 5%;
}

#prenom, #nom, #date, #ville{
	width: 35%;
}

#prenom, #date{
	float: left;
	margin-left: 5%;
}

#nom, #ville, #envoyer{
	float: right;
	margin-right: 5%;
}

#mail, #photo, #message {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}


/* Tablet device */
@media screen and (max-width: 550px){
	* {
		font-size: 3vw;
	}

	#map {
		width: 50%;
		float: left;
	}

	#form {
		width: 50%;
		float: right;
	}
}

/* Phone device */
@media screen and (max-width: 550px){	
	* {
		font-size: 3vw;
	}

	#map {
		width: 100%;
		float: left;
	}

	#form {
		width: 100%;
		float: right;
	}
}