

	body {
		
		background-color: #ECECEC;
		display: block;
	}


	p {
		margin: 0px;
		padding: 15px;
		display: block;
	}

	.blue {
		background-color: #2980b9;
	}

	.white {
		background-color: #ECECEC;
	}

	.orange {
		background-color: #F27935;
		color: #ECF0F1;
	}

	.grey_ligth {
		background-color: #DADFE1;
	}

	.red {
		background-color: #e74c3c;
	}

	#form {

		padding: 15px;
		position: center;
		color: #ecf0f1;
		font-weight: bold;
		font-size: 1.6em;
	}

	input {
		margin: 5px;
		background-color: #DEDEDE;
		display: block;
	}

	label {
		display: block;
	}

	#mairie {
		background-color: #2c3e50;
		margin: 0px;
		padding: 15px;
	}

	title {
		background-color: #D32F2F;
		margin: 0px;
		padding: 15px;
		color: white;
		font-weight: bold;
		font-size: 1.6em;
	}

	h1 {
		font-size: 8vw;
		background-color: #F44336;
	}

	table, tr, td {
    border: 1px solid #BFBFBF;
    text-align: center;
	}

	table {
		width: 100%;
	}

	
/* pc device */
@media screen{
	img {
		width: 500px;
	}

	* {
		font-size: 1.3vw;
	}
}

/* mobile device */
@media screen and (max-width: 550px){
	img {
		width: 200px;
	}

	table {
		display: block;
	}

	* {
		font-size: 3vw;
	}

	td {
		display: block;
	}

}
	
